@model IEnumerable<CompanyManager.Models.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="portlet box grey-cascade">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Nhà cung cấp
        </div>
        <div class="actions">
            <a href="/Admin/Suppliers/Create" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> Thêm
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr>
                    <th class="table-checkbox">
                        <input type="checkbox" class="group-checkable" data-set="#sample_3 .checkboxes" />
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fax)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <input type="checkbox" class="checkboxes" value="1" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fax)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.SupplierID }, new { @class = "btn btn-sm btn-info" }) 
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.SupplierID }, new { @class = "btn btn-sm btn-primary" }) 
                        @Html.ActionLink("Xóa", "Delete", new { id = item.SupplierID }, new { @class = "btn btn-sm btn-danger" })
                    </td>
                </tr>
                }

        </table>
        </div>
</div>