@model CompanyManager.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="portlet box grey-cascade">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Vật tư
        </div>
    </div>
    <div class="portlet-body">

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProductContent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductContent)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnitStock)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UnitStock)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Image)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
        </p>
        </div>
</div>